<!-- TopUserCard.astro -->

---
interface TopData {
  id: string;
  name: string;
}

interface Props {
  title: string;
  data: TopData[];
}

const { title, data } = Astro.props as Props;
---

<!-- <div class="bg-gradient-to-b from-green-900 to-gray-800 rounded-lg p-4 mb-6">
  <h2 class="text-white text-2xl font-semibold mb-4">{title}</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {data.map((item, index) => (
      <div key={item.id} class="bg-green-800 rounded-lg w-full h-20 p-4 flex items-center justify-center hover:scale-105 hover:opacity-75">
        <p class="text-white text-lg">{index + 1}. {item.name}</p>
      </div>
    ))}
  </div>
</div> -->

<div class="bg-gradient-to-b from-green-900 to-gray-800 rounded-lg p-4 mb-6">
    <h2 class="text-white text-2xl font-semibold mb-4">{title}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {data.map((item, index) => (
        <div data-key={item.id} class="bg-green-800 rounded-lg w-full h-20 p-4 flex items-center justify-center hover:scale-105 hover:opacity-75">
          <p class="text-white text-lg">{index + 1}. {item.name}</p>
        </div>
      ))}
    </div>
  </div>
  
